name: ci-health-tests
on:
  pull_request:
    paths:
    - 'cmd/**'
    - 'e2e/**'
    - 'pkg/**'
    - 'go.*'
    - 'deps.bzl'
    - 'BUILD.bazel'
    - 'WORKSPACE'
    - '.bazel*'
    - '.github/**'
jobs:
  test:
    runs-on: ubuntu-latest
    container: docker.io/golang:1.22-alpine
    steps:
    - uses: actions/checkout@v2
    - name: run tests
      env:
        GITHUB_TOKEN: ${{ secrets.KUBEVIRT_BOT_TOKEN }}
      run: |
        echo -n $GITHUB_TOKEN > $(pwd)/token
        export GITHUB_TOKEN_PATH=$(pwd)/token

        go test ./...
